<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nsu.ru/xtext/exp1/Exp1Dsl" 
       class = "ru.nsu.xtext.exp1.exp1Dsl.Exp1DslPackage"
       genModel = "model/generated/Exp1Dsl.genmodel" /> 
	
  </extension>



</plugin>
